*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;

}
.input-wrapper input{
    border: 1px solid #dbdbdb ;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    outline: none;
}
.input-wrapper{
    margin-bottom: 10px;
}
.btn{
    padding: 8px 20px;
    border-radius: 5px;
    color: #ffffff;
    background-color:#037bfe;
    cursor: pointer;
}
.error{
    color: #ff0000;
}